#google_logo {
    display: block;
    margin: auto;
    padding-left: 250px;
     
    
}

#input_box {
    display: block;
    margin: auto;
    width: 580px;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px #E6E6E6;
}

#below {
    float: right;
    margin-right: 685px;
    margin-top:20px
}

#below > p {
    font-family: Arial, Sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #F3F3F3;
    display: inline-block;
    color: #666;
    padding: 10px 10px 10px 10px;
    
}
.boxy {
    position: relative;
    top: 200px;
}

a {
    text-decoration: none;
    color: black;
}

nav > p {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 12px;
    
    margin-top: 40px;
    padding: 7px 12px 7px 12px;
    position: relative;
    top: 20px
}

#sign_in  {
    background-color: #4378FD;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 14px 8px 14px;
    margin-right: 20px;
}

nav > a > img {
    
    position: relative;
    top: 20px;
    margin-bottom: -10px;
    margin-right: 10px;
    
    
    
}
nav {
    float: right;
}

footer > span > p {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #666;
    margin-right: 25px;
    position: relative;
    bottom: -10px;
    
}

footer > span > p > a {
    color: #666;
}

#f_left {
    float: left;
    margin-left: 20px
}

#f_right {
    float:right
}

footer {
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border: 1px 0px 1px 0px #E4E4E4;
    
    
}